<h1>dữ liệu từ controller gửi về là:Address @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label for="PersonId">Nhập PersonID</label>
    <input type="text" id="PersonId" name="PersonId">

    <label for="FullName">Nhập họ tên:</label>
    <input type="text" id="FullName" name="FullName">

    <label for="Address">Nhập địa chỉ:</label>
    <input type="text" id="Address" name="Address">

    <input type="submit" value="Gửi dữ liệu">
</form>
